
<br><br><br>
<h1>viewing details about a specific Treatment</h1>

<ul>
    
    <li>
        <%= @treatment.last.title %> <br>
        <%= @treatment.last.price %> |
        <%= @treatment.last.duration %> <br>
        <%= @treatment.last.description %>
    </li><br>
</ul>

