
<br><br><br>
<h1>viewing details about a specific Treatment</h1>

<ul>
    
    <li>
        <%= @treatment.first.title %> <br>
        <%= @treatment.first.price %>
        <%= @treatment.first.duration %> <br>
        <%= @treatment.first.description %>
    </li><br>
</ul>

