
<br><br><br><br>

    <div class="container mt-5">
        <div style="background: url(<%= asset_path('blue_bg.jpg') %>)" class="page-holder bg-cover">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h3 class="card-title mt-3 text-center">Edit Appointment Details</h3>
                
                    <%= render partial: "layouts/errors", locals: {object: @appointment} %>
                    <%= render partial: "form" %>

            </article>
        </div>
    </div>