<br><br><br>

<h1>Your viewing all your booked Appointments <%= current_client.first_name %></h1>


<div class="container mt-5">
    <ul>
        <% @appointments.each do |appointment| %>
            <li>
                <%= link_to appointment.treatment.title, appointment_path(appointment) %>
            </li>
        <% end %>
    </ul>
</div>

<div class="container mt-5">
    <%= link_to "Book a new Appointment", new_appointment_path %>
</div>