<br><br><br>

<h1>Your viewing ur Appointment</h1>


<% Appointment.all.each do |appointment| %>
    <ul>
        <li>
            <%= appointment.client.first_name %>
        </li>
    </ul>
<% end %>