

                   
                    <%= @review.content %>
                    by: <%= @review.client.first_name %>

                    <% if @review.client == current_client %>
                    <h6>
                    <%= link_to "Edit review", edit_review_path(@review)%> |
                    <%= link_to "Delete review", @review, :method => "delete" %>
                    </h6>
                    <% end %>
      

        