
<br><br><br>

<div class="container mt-5">
    <div style="background: url(<%= asset_path('blue_bg.jpg') %>)" class="page-holder bg-cover">
        <article class="card-body mx-auto" style="max-width: 400px max-height: 800px;">
            <h2 class="card-title mt-3 text-center">Your Review</h2>
            <ul>

                <%= render partial:'review', locals: {review: @review} %>
                <%= last_updated @review %>

            </ul>
        </article>
    </div>
</div>
<p>
<div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a class="btn btn-secondary" <%= link_to "Write a Review »", new_review_path %></a>
                </div>
            </div>
        </div>
        </p>